#p5canvas {
    margin: 10vh auto;
    width: 60%;
}

#p5canvas canvas {
    width: 100% !important;
    height: 100% !important;
}

.button-container {
    width: 50%;
    margin: auto;
}

.button-container button {
	font-size: 3em;
}

